body {
    background-color:rgb(147, 155, 98);
}

.table-center {
   margin-left: auto;
   margin-right: auto;
}

.custom-td {
    width: 150px;
    height: 150px;
}

.custom-td1 {
    width: 400px;
    /*background-color: rgb(67, 91, 186);*/
    padding-left: 15px;
}

.custom-td2 {
    width: 400px;
    /*background-color: rgb(212, 207, 105);*/
}

.img-profile {
    border: 1px solid;
    border-radius: 20%;
    width: 150px;
    height: 150px;
    
}

.img-profile:hover {
    box-shadow: 0 0 5px 5px rgb(172, 26, 26);
}

.custom-font {
    font-size: 18px;
    color: white;
    font-family: sans-serif;
}

.img-resize {
    width: 30px;
    height: 20px;
    filter: invert(100%);
}

br {
    display: block;
    content: "";
    margin: 5px 0;
}

